 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/21.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 998px;
  min-height: 584px;
  background-image: url("images/1.jpg");
  background-position: 6.41% 50%;
  margin: 108px auto;
}

.u-section-1 .u-image-2 {
  height: 291px;
  margin: 147px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 823px;
  }

  .u-section-1 .u-image-2 {
    height: 243px;
    margin-top: 171px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 630px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-image-1 {
    min-height: 453px;
    margin-top: 82px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -79px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 789px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 535px;
}

.u-section-2 .u-image-1 {
  width: 337px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  height: 479px;
  margin: 1px 100px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-style: italic;
  font-size: 0.875rem;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 21px;
  padding-right: 2px;
}

.u-section-2 .u-text-2 {
  line-height: 1.3;
  font-weight: 700;
  margin: 20px 0 30px;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-style: italic;
  font-size: 0.875rem;
}

.u-section-2 .u-image-2 {
  min-height: 415px;
  background-image: url("images/2.jpg");
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 206px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-right: 223px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 98px;
    width: 431px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 106px;
    margin-bottom: 27px;
    width: 423px;
  }

  .u-section-2 .u-image-2 {
    min-height: 409px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 3px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 481px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    width: 328px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 67px;
    margin-bottom: 45px;
    width: 267px;
  }
}.u-block-fcc1-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-fcc1-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -57px);
  width: 35px;
  height: 35px;
}

.u-block-fcc1-4 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: calc(((100% - 1140px) / 2)  + -57px);
}

@media (max-width: 1199px) {
  .u-block-fcc1-3 {
    left: calc(((100% - 940px) / 2)  + -47px);
  }

  .u-block-fcc1-4 {
    right: calc(((100% - 940px) / 2)  + -47px);
  }
}

@media (max-width: 991px) {
  .u-block-fcc1-3 {
    left: calc(((100% - 720px) / 2)  + -36px);
  }

  .u-block-fcc1-4 {
    right: calc(((100% - 720px) / 2)  + -36px);
  }
}

@media (max-width: 767px) {
  .u-block-fcc1-3 {
    left: calc(((100% - 540px) / 2)  + -101px);
  }

  .u-block-fcc1-4 {
    right: calc(((100% - 540px) / 2)  + -101px);
  }
}

@media (max-width: 575px) {
  .u-block-fcc1-3 {
    left: calc(((100% - 340px) / 2)  + -142px);
  }

  .u-block-fcc1-4 {
    right: calc(((100% - 340px) / 2)  + -142px);
  }
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/5.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 820px;
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 709px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/21.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 820px;
}

.u-section-3-2 .u-image-1 {
  width: 983px;
  min-height: 538px;
  background-image: url("images/1.jpg");
  margin: 141px auto;
}

.u-section-3-2 .u-image-2 {
  height: 365px;
  margin: 87px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-image-1 {
    width: 811px;
    margin-bottom: 80px;
  }

  .u-section-3-2 .u-image-2 {
    height: 349px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3-2 .u-image-1 {
    width: 621px;
    margin-top: 86px;
    margin-bottom: 25px;
  }

  .u-section-3-2 .u-image-2 {
    height: 267px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-image-1 {
    width: 540px;
  }

  .u-section-3-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-image-1 {
    width: 340px;
  }

  .u-section-3-2 .u-image-2 {
    height: 126px;
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/1.jpg");
}

.u-section-3-3 .u-sheet-1 {
  min-height: 820px;
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 709px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 730px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 29px auto 26px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 692px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-image-1 {
  width: 449px;
  height: 306px;
  margin: 126px auto 0;
}

.u-section-4 .u-image-2 {
  width: 340px;
  height: 460px;
  margin: -383px 90px 65px;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 692px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-image-3 {
  width: 449px;
  height: 306px;
  margin: 126px auto 0;
}

.u-section-4 .u-image-4 {
  width: 302px;
  height: 460px;
  margin: -383px 109px 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  margin: 65px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 727px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 370px;
  }

  .u-section-4 .u-image-2 {
    width: 280px;
    margin-right: 89px;
    margin-bottom: 0;
    margin-left: 91px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 104px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 727px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-image-3 {
    width: 370px;
  }

  .u-section-4 .u-image-4 {
    width: 249px;
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 766px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 143px;
    margin-right: 21px;
    margin-left: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 766px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-top: 179px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    width: 201px;
    margin-top: -359px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 66px;
    margin-left: 17px;
    margin-right: 17px;
    width: 505px;
  }

  .u-section-4 .u-image-4 {
    width: 201px;
    height: 429px;
    margin-top: -367px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 42px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 692px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-4 .u-image-1 {
    width: 346px;
    margin-top: 105px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-4 .u-image-2 {
    width: 169px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 318px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 692px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    width: 169px;
    margin-left: 33px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 789px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px 0 40px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 314px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-style: italic;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-5 .u-image-1 {
  width: 462px;
  height: 322px;
  margin: 73px auto 0;
}

.u-section-5 .u-image-2 {
  width: 392px;
  height: 517px;
  object-position: 50% 31.36%;
  background-position: 50% 31.36%;
  margin: -549px auto 0 84px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 533px;
}

.u-section-5 .u-image-3 {
  width: 480px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  height: 365px;
  margin: 74px auto 0;
}

.u-section-5 .u-image-4 {
  width: 337px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  height: 479px;
  margin: -437px auto 0 61px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 197px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-image-1 {
    width: 253px;
    margin-left: 16px;
  }

  .u-section-5 .u-image-2 {
    width: 422px;
    margin-bottom: 33px;
    margin-left: 58px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 532px;
  }

  .u-section-5 .u-image-3 {
    width: 278px;
    height: 350px;
    margin-right: 59px;
  }

  .u-section-5 .u-image-4 {
    width: 278px;
    margin-top: -422px;
    margin-left: 50px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 123px;
    padding-right: 123px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 72px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 529px;
    margin-top: -67px;
    margin-left: 89px;
  }

  .u-section-5 .u-image-2 {
    width: 352px;
    margin-top: -376px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    width: 515px;
    margin-top: 91px;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    width: 352px;
    height: 508px;
    margin-top: -421px;
    margin-left: 184px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 279px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-image-1 {
    width: 450px;
    margin-left: 23px;
  }

  .u-section-5 .u-image-2 {
    width: 400px;
    margin-top: -378px;
    margin-right: 57px;
    margin-bottom: 2px;
  }

  .u-section-5 .u-image-3 {
    width: 200px;
    margin-right: 34px;
  }

  .u-section-5 .u-image-4 {
    width: 414px;
    object-position: 100% 15.27%;
    background-position: 100% 15.27%;
    margin-left: 29px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-2 {
    width: 521px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-image-1 {
    width: 138px;
    margin-top: -26px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 309px;
    margin-top: -419px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    width: 168px;
    height: 259px;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    width: 309px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 244px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-2 {
    width: 328px;
  }
}.u-block-42e3-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-42e3-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -57px);
  width: 35px;
  height: 35px;
}

.u-block-42e3-4 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: calc(((100% - 1140px) / 2)  + -57px);
}

@media (max-width: 1199px) {
  .u-block-42e3-3 {
    left: calc(((100% - 940px) / 2)  + -47px);
  }

  .u-block-42e3-4 {
    right: calc(((100% - 940px) / 2)  + -47px);
  }
}

@media (max-width: 991px) {
  .u-block-42e3-3 {
    left: calc(((100% - 720px) / 2)  + -36px);
  }

  .u-block-42e3-4 {
    right: calc(((100% - 720px) / 2)  + -36px);
  }
}

@media (max-width: 767px) {
  .u-block-42e3-3 {
    left: calc(((100% - 540px) / 2)  + -101px);
  }

  .u-block-42e3-4 {
    right: calc(((100% - 540px) / 2)  + -101px);
  }
}

@media (max-width: 575px) {
  .u-block-42e3-3 {
    left: calc(((100% - 340px) / 2)  + -142px);
  }

  .u-block-42e3-4 {
    right: calc(((100% - 340px) / 2)  + -142px);
  }
}

 .u-section-6-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/10.jpeg");
  background-position: 50% 50%;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-6-1 .u-image-1 {
  width: 1028px;
  min-height: 576px;
  background-image: url("images/5.jpg");
  background-position: 31.67% 50%;
  margin: 145px auto;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-image-1 {
    width: 848px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-6-1 .u-image-1 {
    width: 649px;
    margin-bottom: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-image-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-6-1 .u-image-1 {
    min-height: 446px;
    margin-top: 134px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-6-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/6.jpg");
  background-position: 50% 50%;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 820px;
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 713px;
  }
}

 .u-section-6-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/10.jpeg");
  background-position: 50% 50%;
}

.u-section-6-3 .u-sheet-1 {
  min-height: 820px;
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 713px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 729px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 29px auto 23px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-1 {
  width: 449px;
  height: 306px;
  margin: 126px auto 0;
}

.u-section-7 .u-image-2 {
  width: 340px;
  height: 460px;
  margin: -383px 90px 65px;
}

.u-section-7 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 698px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-3 {
  width: 449px;
  height: 306px;
  margin: 126px auto 0;
}

.u-section-7 .u-image-4 {
  width: 302px;
  height: 460px;
  object-position: 13.15% 0%;
  background-position: 13.15% 0%;
  margin: -383px 109px 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  margin: 65px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-image-1 {
    width: 370px;
  }

  .u-section-7 .u-image-2 {
    width: 280px;
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-image-3 {
    width: 370px;
  }

  .u-section-7 .u-image-4 {
    width: 249px;
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 143px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 732px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-4 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-2 {
    width: 201px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-4 {
    width: 209px;
    height: 441px;
    margin-left: 44px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-image-2 {
    width: 169px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-7 .u-image-4 {
    width: 169px;
    margin-left: 33px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-8 {
  min-height: 307px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/8.jpg");
  min-height: 307px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-2 {
  background-image: url("images/10.jpeg");
  min-height: 307px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-3 {
  background-image: url("images/5.jpg");
  min-height: 307px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-4 {
  min-height: 307px;
  background-image: url("images/10.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-image-5 {
  min-height: 307px;
  background-image: url("images/6.jpg");
  background-position: 50% 50%;
}
/*****************************
*	horizontal news ticker
******************************/

.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
	border: 1px solid #f00404;
  height:100%;
}

.ticker-wrapper-h .heading{
	background-color: #f40808;
	color: #fff;
	padding: 5px 10px;
	flex: 0 0 auto;
	z-index: 1000;
}
.ticker-wrapper-h .heading:after{
	content: "";
	position: absolute;
	top: 0;
	border-left: 20px solid #f60404;
	border-top: 17px solid transparent;
	border-bottom: 15px solid transparent;
}


.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: 999;
  margin-top: 0px!Important;
  margin-bottom: 0px!Important;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 30s;
	
}
.news-ticker-h:hover { 
	animation-play-state: paused; 
}

.news-ticker-h li{
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 20px;
}

.news-ticker-h li a{
	color: #212529;
	font-weight: bold;
}

@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
